body {
	font-family: helvetica;
	margin: 0;

}
#head {
	border: 3px solid red;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: center;
}
.content {
	border: 3px solid blue;
	margin-left: 5px
}
.content:hover {
	text-decoration: underline;
}
.content2 {
	border: 3px solid blue;
	margin-left: 5px;
	background-color: #1E90FF;
	color: white;
	font-weight: bold;
	border-radius: 2px;
}
.img {
	display: flex;
	border: 3px solid black;
	height: 40px;
	width: auto;
	justify-content: center;
	opacity: .55;
}
.img:hover{
	opacity: 1;
}
#centre {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	border: 3px solid red;
}
#logo img {
	display: flex;
	border: 3px solid red;
	height: 95px;
	width: 300px;
	padding-top: 109px;
	}
#barre {	
	display: flex;
	align-content: center;
	width: 450px;
	height: 39px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 20px;
	padding-left: 10px;
	outline: none;
}
#barre:hover {
	border: 2px solid white;
	box-shadow: -0.2em 0 0.4em black;
	opacity: .55;
}
#barre:focus {
	border: 2px solid white;
	box-shadow: -0.2em 0 0.4em black;
	opacity: .55;
}
